[Unit]
Description=Docker compose for mutsar monitor
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /home/syed/Project/monitor/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f /home/syed/Project/monitor/docker-compose.yml stop"

[Install]
WantedBy=multi-user.target
